<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.ztyshop.dao.mapper.ClientInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zty.ztyshop.dao.entity.ClientInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="modile" property="modile" />
        <result column="rank_name" property="rankName" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="account" property="account" />
        <result column="last_login" property="lastLogin" />
        <result column="service_time" property="serviceTime" />
        <result column="create_at" property="createAt"/>
    </resultMap>

    <select id="statisticsNewLast" resultType="com.zty.ztyshop.controller.bo.StatisticsLast30DaysBO">
        SELECT
	        DATE_FORMAT( create_at, "%Y-%m-%d" ) AS `day`,
	        COUNT( * ) AS account
        FROM
	        client_info
        WHERE
	        create_at >= #{minDate}
        GROUP BY `day` ORDER BY `day`
    </select>

    <select id="statisticsReturn" resultType="com.zty.ztyshop.controller.bo.StatisticsLast30DaysBO">
        SELECT
	        DATE_FORMAT( create_at, "%Y-%m-%d" ) AS `day`,
	        COUNT( * ) AS account
        FROM
	        client_info
        WHERE
	        create_at >= #{minDate}
	        and last_login <![CDATA[ <> ]]> create_at
        GROUP BY `day` ORDER BY `day`
    </select>



<!--    <select id="statisticsOldLast30Days" resultType="com.zty.ztyshop.controller.bo.StatisticsLast30DaysBO">-->
<!--        SELECT-->
<!--            DATE_FORMAT( create_at, "%Y-%m-%d" ) AS `day`,-->
<!--            COUNT( DISTINCT client_id ) AS account-->
<!--        FROM-->
<!--        (-->
<!--            SELECT-->
<!--                o1.create_at,-->
<!--                o1.client_id-->
<!--            FROM-->
<!--                order_info o1-->
<!--                JOIN client_info c1-->
<!--                ON o1.client_id = c1.id AND c1.create_at <![CDATA[<]]> #{maxDate}-->
<!--            WHERE o1.create_at >=  #{maxDate}-->
<!--            GROUP BY-->
<!--                o1.client_id,-->
<!--                DATE_FORMAT( o1.create_at, "%Y-%m-%d" )-->
<!--        ) AS tmp-->
<!--        GROUP BY-->
<!--            DATE_FORMAT( create_at, "%Y-%m-%d" )-->
<!--    </select>-->

</mapper>
