<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.ztyshop.dao.mapper.ClientInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zty.ztyshop.dao.entity.ClientInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="modile" property="modile" />
        <result column="is_vip" property="isVip" />
        <result column="client_level" property="clientLevel" />
        <result column="account" property="account" />
        <result column="birthday" property="birthday" />
        <result column="last_login" property="lastLogin" />
        <result column="create_at" property="createAt" />
    </resultMap>
</mapper>
